{% extends "base.html.twig" %}

{% block title %}Modifier un souhait{% endblock %}

{% block body %}
    <h1>Modifier un souhait</h1>

    {{ include('liste/souhait/_form.html.twig') }}

    <div class="mt-5">
        <form method="post" action="{{ path('compte_supprimer_souhait', {'id': souhait.id }) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce souhait?');">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ souhait.id) }}">
            <button class="btn btn-danger ">Supprimer</button>
        </form>
    </div>
    
    <div class="mt-5">
        <a href="{{ path('compte_listes') }}" class="btn btn-success">Retour aux listes</a>
    </div>

{% endblock %}