{% extends "base.html.twig" %}

{% block title %}Demander un échange{% endblock %}

{% block body %}
    <h1>Demander un échange</h1>

    {{ include('utilisateur/echange/_form.html.twig') }}

    <div class="mt-5">
    <a href="{{ path('compte_index') }}" class="btn btn-success">Retour à mon compte</a>
    </div>
{% endblock %}