{% extends 'base.html.twig' %}

{% block title %}Le tirage{% endblock %}

{% block body %}
<div class="mt-5 mb-5">
    {% for utilisateur in utilisateurs %}
        <p><i>{{ utilisateur }}</i> a tiré <b>{{ utilisateur.utilisateurTire }}</b> <i>(!! {{ {utilisateur} | merge(utilisateur.utilisateursInterdits) | join(', ', ' et ') }})</i></p>
    {% endfor %}
</div>

<div class="mt-5 mb-5">
<a href="{{ path('tirage_make') }}" class="btn btn-success">Refaire le tirage</a>
</div>
{% endblock %}
