{% extends 'base.html.twig' %}

{% block title %}Les archives des tirages{% endblock %}

{% block body %}
<div class="mt-5 mb-5">
    <table class="table table-sm">
        <thead>
            <th>#</th>
            <th>Date</th>
            <th></th>
            </thead>
        <tbody>
            {% for tirage in tirages|reverse %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ tirage.createdAt | date('d/m/Y - H:i') }}</td>
                    <td><a href="{{ path('tirage_log', {'id': tirage.id}) }}">Voir le tirage</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
