{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}

    <h1>
        Mon compte
        <small class="text-muted">{{ app.user }}</small>
    </h1>
        <div class="mt-5">
            <h3>
                Personne tirée
                <small class="text-muted">{{ app.user.utilisateurTire }}</small>
            </h3>
        </div>

        {{ component('liste', {'id': app.user.id}) }}
        
        {% if app.user.utilisateurTire %}
            {{ component('liste', {'id': app.user.utilisateurTire.id}) }}
        {% endif %}
            
{% endblock %}
