{% extends "base.html.twig" %}

{% block title %}Listes{% endblock %}

{% block body %}

<div class="mt-5">
    <a href="{{ path('compte_ajouter_souhait') }}" class="btn btn-success">Ajouter</a>
</div>

{% for utilisateur in utilisateurs %}
    {{ component('liste', {'id': utilisateur.id })}}
{% endfor %}

{% endblock %}