$primary: rgb(0, 0, 75);
$success: rgb(41, 150, 8);

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons";

@import "src/vars";
@import "src/globals";
@import "src/fonts";
@import "src/home";
@import "src/navbar";

.btn-outline-success:hover,
.btn-success:hover,
.btn-success {
    color: var(--secondary-color);
}

@media screen and (max-width: 768px) {
    .responsive-flex {
        flex-direction: column;
        gap: 0.5em;
        text-align: center;
        align-items: center !important;
    }
}
