{% if this.utilisateur %}
<div class="container py-5">
    <h1>
        <i class="bi bi-balloon-heart-fill"></i>
        <small class="text-muted">Le prochain anniversaire</small>
    </h1>
    Le prochain anniversaire est {% if this.utilisateur == app.user %}le votre{% else %}celui de {{ this.utilisateur }}{% endif %}, le {{ this.utilisateur.dateDeNaissance | format_datetime(locale='fr', pattern='EEEE d MMMM Y')}}.

    <div class="accordion mt-5">
        {{ component('liste', {'id': this.utilisateur.id})}}
    </div>
</div>

{% endif %}