{% if this.erreurs %}
<div class="alert alert-primary mt-3">
    {{ this.erreurs | raw }}
</div>
{% endif %}

<table class="mt-3 table table-small">
    <thead>
        <tr>
            <th>#</th>
            <th>Il/elle</th>
            <th>aurait tiré</th>
            <th>lui/elle</th>
        </tr>
    </thead>
    <tbody>
        {% for pronostic in this.pronostic %}
        <tr {% if pronostic[2] %}class="table-danger"{% endif %}>
            <td>{{ loop.index }}</td>
            <td>{{ pronostic[0] }}</td>
            <td> -> </td>
            <td>{{ pronostic[1] }}{% if pronostic[3] %} <i class="bi bi-clipboard-x-fill"></i>{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>