.navbar-header {
    width: 100%;
    background-color: var(--main-color);
    color: var(--secondary-color);
    height: var(--header-size);
    font-weight: 900;
    font-size: 1.2em;
    align-items: center;
    display: flex;
    gap: 1em;
    padding: 1em;
    margin: 0 0 2em 0;
    position: fixed;
    top: 0;
    z-index: 500;
}

.navbar-header .menu-toggle {
    font-size: 1.5em;
    margin-bottom: 0.1em;
    cursor: pointer;
}

.navbar-header a {
    text-decoration: none;
    color: var(--secondary-color);
}

.menu {
    position: fixed;
    top: var(--header-size);
    width: 350px;
    height: calc(100vh - var(--header-size));
    background-color: var(--main-color);
    font-size: 1em;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 500;
}

.menu-open {
    transform: translateX(0);
}

.menu a {
    text-decoration: none;
    color: var(--secondary-color);
    padding: 1em;
    display: block;
    border-bottom: 1px solid var(--secondary-color);
}

.menu a:first-child {
    margin-top: calc(var(--header-size) / 2);
}

.menu a.active {
    text-decoration: underline;
}
